/*
Lumino Admin Bootstrap Template
Version 1.0
*/


/*Global Styles*/

body {
  background: #f1f4f7;
  color: #5f6468;
  max-width: 1200px;
  min-width: 340px;
  margin: auto;
  font-family: "Microsoft Yahei","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo {
  margin-left: 5px;
}

.navbar {
  background-color: #4a4a4a;
  margin-bottom: 10px;
  border: none;
}

.navbar .menu {
  width: 290px;
  margin-right: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.navbar .menu .btn {
  padding: 2px 15px;
  margin-top: -2px;
}

.container-fluid {
  padding: 0;
}

.footer-inner {
  padding: 14px 15px 12px;
  color: #aaa;
  text-shadow: 0 -1px 0 #333;
  background-color: #414141;
  border-left: 12px solid #428bca;
  font-size: smaller;
}

@media (max-width: 768px) {
}